 <center><div style="font-size: 20px"> Cisco Tetration Metric Dashboard </div></center>
<div class="gridster">
	<ul>

	    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
	      <div data-id="ntp" data-view="List" data-unordered="true" data-title="NTP Servers" data-moreinfo="# of requests per NTP server" style="background-color: #23819C"></div>
	    </li>

		<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
			<div data-id="srtt_avg" data-view="Graph" data-title="Avg. SRTT in µs" data-suffix="" style="background-color:#1e489e"></div>
		</li>

		<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
			<div data-id="srtt_max" data-view="Graph" data-title="Max. SRTT in µs" data-suffix="" style="background-color:#9e461d"></div>
		</li>

		<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
			<div data-id="latency_avg" data-view="Graph" data-title="Avg. App. Latency in µs" data-suffix="" style="background-color:#1e489e"></div>
		</li>

		<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
			<div data-id="latency_max" data-view="Graph" data-title="Max. App. Latency in µs" data-suffix="" style="background-color:#9e461d"></div>
		</li>

		<li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
     	 <div data-id="dns" data-view="List" data-unordered="true" data-title="DNS Servers" data-moreinfo="# of requests per DNS server" style="background-color: #23819C"></div>
   		</li>
	
	</ul>
</div>
